* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

h2 {
    color: blue;
}